In [12]:
import pandas as pd
df = pd.read_csv('./2021-03-26.csv')

In [13]:
df

,Date,Resort_Name,Region,Country,Pass,Snowfall,Lower_Depth,Middle_Depth,Upper_Depth
0,2021-03-26,Afton Alps,Minnesota,United_States,EPIC,0,NaN,NaN,NaN
1,2021-03-26,Alpine Valley Resort,Wisconsin,United_States,EPIC,0,NaN,NaN,NaN
2,2021-03-26,Arapahoe Basin Ski Area,Colorado,United_States,IKON,1,60.0,60.0,60.0
3,2021-03-26,Attitash,New_Hampshire,United_States,EPIC,0,11.0,NaN,19.0
4,2021-03-26,Beaver Creek,Colorado,United_States,EPIC,2,56.0,56.0,56.0
...,...,...,...,...,...,...,...,...,...
61,2021-03-26,Whistler Blackcomb,British_Columbia,Canada,EPIC,0,0.0,0.0,0.0
62,2021-03-26,Whitetail Resort,Pennsylvania,United_States,EPIC,0,32.0,NaN,32.0
63,2021-03-26,Wildcat Mountain,New_Hampshire,United_States,EPIC,0,11.0,NaN,23.0
64,2021-03-26,Wilmot Mountain,Wisconsin,United_States,EPIC,0,NaN,NaN,NaN
65,2021-03-26,Winter Park,Colorado,United_States,IKON,4,NaN,NaN,74.0

In [14]:
df = df.sort_values(["date","resort_name"], ascending=(True,True))

KeyError: 'date'

In [15]:
df

,Date,Resort_Name,Region,Country,Pass,Snowfall,Lower_Depth,Middle_Depth,Upper_Depth
0,2021-03-26,Afton Alps,Minnesota,United_States,EPIC,0,NaN,NaN,NaN
1,2021-03-26,Alpine Valley Resort,Wisconsin,United_States,EPIC,0,NaN,NaN,NaN
2,2021-03-26,Arapahoe Basin Ski Area,Colorado,United_States,IKON,1,60.0,60.0,60.0
3,2021-03-26,Attitash,New_Hampshire,United_States,EPIC,0,11.0,NaN,19.0
4,2021-03-26,Beaver Creek,Colorado,United_States,EPIC,2,56.0,56.0,56.0
...,...,...,...,...,...,...,...,...,...
61,2021-03-26,Whistler Blackcomb,British_Columbia,Canada,EPIC,0,0.0,0.0,0.0
62,2021-03-26,Whitetail Resort,Pennsylvania,United_States,EPIC,0,32.0,NaN,32.0
63,2021-03-26,Wildcat Mountain,New_Hampshire,United_States,EPIC,0,11.0,NaN,23.0
64,2021-03-26,Wilmot Mountain,Wisconsin,United_States,EPIC,0,NaN,NaN,NaN
65,2021-03-26,Winter Park,Colorado,United_States,IKON,4,NaN,NaN,74.0

In [16]:
df = df.reset_index(drop=True)

In [17]:
df

,Date,Resort_Name,Region,Country,Pass,Snowfall,Lower_Depth,Middle_Depth,Upper_Depth
0,2021-03-26,Afton Alps,Minnesota,United_States,EPIC,0,NaN,NaN,NaN
1,2021-03-26,Alpine Valley Resort,Wisconsin,United_States,EPIC,0,NaN,NaN,NaN
2,2021-03-26,Arapahoe Basin Ski Area,Colorado,United_States,IKON,1,60.0,60.0,60.0
3,2021-03-26,Attitash,New_Hampshire,United_States,EPIC,0,11.0,NaN,19.0
4,2021-03-26,Beaver Creek,Colorado,United_States,EPIC,2,56.0,56.0,56.0
...,...,...,...,...,...,...,...,...,...
61,2021-03-26,Whistler Blackcomb,British_Columbia,Canada,EPIC,0,0.0,0.0,0.0
62,2021-03-26,Whitetail Resort,Pennsylvania,United_States,EPIC,0,32.0,NaN,32.0
63,2021-03-26,Wildcat Mountain,New_Hampshire,United_States,EPIC,0,11.0,NaN,23.0
64,2021-03-26,Wilmot Mountain,Wisconsin,United_States,EPIC,0,NaN,NaN,NaN
65,2021-03-26,Winter Park,Colorado,United_States,IKON,4,NaN,NaN,74.0

In [18]:
#df.to_csv("full_szn.csv", index=False)

In [24]:
df.Resort_Name.unique()

array(['Afton Alps', 'Alpine Valley Resort', 'Arapahoe Basin Ski Area',
       'Attitash', 'Beaver Creek', 'Big Boulder', 'Big Sky',
       'Blue Mountain', 'Boston Mills', 'Boyne Highlands',
       'Boyne Mountain Resort', 'Brandywine', 'Breckenridge',
       'Brighton Resort', 'Coronet Peak', 'Crested Butte Mountain Resort',
       'Crotched Mountain', 'Crystal Mountain', 'Cypress Mountain',
       'Falls Creek Alpine Resort', 'Heavenly', 'Hidden Valley Resort',
       'Jack Frost', 'June Mountain', 'Keystone', 'Kirkwood', 'Liberty',
       'Loon Mountain', 'Mad River Mountain', 'Mammoth Mountain',
       'Mount Snow', 'Mount Sunapee', 'Mt. Brighton', 'Mt. Buller',
       'Mt. Hotham', 'Mt. Hutt Ski Area', 'Northstar California',
       'Okemo Mountain Resort', 'Paoli Peaks', 'Park City', 'Perisher',
       'Revelstoke', 'Roundtop Mountain Resort', 'Snow Creek',
       'Snowshoe Mountain', 'Solitude Mountain Resort',
       'Squaw Valley Alpine Meadows', 'Steamboat', 'Stevens Pass Resort',
       'Stowe Mountain', 'Stratton Mountain', 'Sugarbush', 'Sugarloaf',
       'Sunday River', 'Taos Ski Valley', 'The Remarkables',
       'The Summit at Snoqualmie', 'Thredbo Alpine Resort', 'Tremblant',
       'Vail', 'Valle Nevado', 'Whistler Blackcomb', 'Whitetail Resort',
       'Wildcat Mountain', 'Wilmot Mountain', 'Winter Park'], dtype=object)

In [21]:
df.Region.unique()

array(['Minnesota', 'Wisconsin', 'Colorado', 'New_Hampshire',
       'Pennsylvania', 'Montana', 'Ontario', 'Ohio', 'Michigan', 'Utah',
       'New_Zealand', 'Washington', 'British_Columbia', 'Australia',
       'California', 'Vermont', 'Indiana', 'Missouri', 'West_Virginia',
       'Maine', 'New_Mexico', 'Quebec', 'Chile'], dtype=object)

In [22]:
df.Country.unique()

array(['United_States', 'Canada', 'New_Zealand', 'Australia', 'Chile'],
      dtype=object)